@media only screen and (max-width: 800px) {
  hr {
    border-color: black !important;
  }
  .cont {
    flex-direction: column !important;
  }
  .chart {
    border-bottom: 0.125rem solid black;
    margin-bottom: 5px;
    width: 100% !important;
  }
  .date {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 801px) {
  .chart {
    border-right: 0.125rem solid black;
    margin-right: 1rem;
  }
}
